<launch>
  <arg name="use_sim_time"  default="true"/>
  <arg name="gui"           default="true"/>
  <arg name="world"         default="gazebo"/>
  <arg name="debug"         default="false"/>

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <arg unless="$(arg debug)" name="gazebo_binary" value="gzserver"/>
  <arg if="$(arg debug)" name="gazebo_binary" value="debug"/>

  <!-- Start World -->
  <node name="gazebo_launcher" pkg="concert_service_gazebo" type="gazebo_launcher.py" respawn="false" output="screen">
    <param name="world" value="$(arg world)"/>
    <param name="gazebo_binary" value="$(arg gazebo_binary)"/>
  </node>

  <!-- Viewer -->
  <node if="$(arg gui)" name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen">
  </node>
  
  <node name="gazebo_robot_manager" pkg="concert_service_gazebo" type="gazebo_robot_manager.py" respawn="false">
    <param name="world" value="$(arg world)"/>
  </node>
</launch>
