name: Initialisation
description: Make a map and annotate a map 
author: Jihoon Lee 
# Priority constants are set in scheduler_msgs.Request.XXX_PRIORITY. This should reflect high priority.
priority: 10000
launcher_type: roslaunch
launcher: concert_service_initialisation/initialisation
icon: concert_service_initialisation/initialisation_bubble_icon.png
interactions: concert_service_initialisation/initialisation
parameters: concert_service_initialisation/initialisation
