<launch>
  <!--  
    Right now, the android app is hard coded to look for /cmd_vel as the input
    topic.
   -->
  <arg name="application_namespace" />

  <!-- Robot velocity feedbacks; use the one configured as base default -->
  <!--
  <node pkg="nodelet" type="nodelet" name="teleop_velocity_smoother_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="teleop_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet teleop_velocity_smoother_manager">
    <rosparam file="$(find turtlebot_bringup)/param/defaults/smoother.yaml" command="load"/>
    <remap from="teleop_velocity_smoother/smooth_cmd_vel" to="cmd_vel_mux/input/teleop"/>

    <remap from="teleop_velocity_smoother/odometry" to="odom"/>
    <remap from="teleop_velocity_smoother/robot_cmd_vel" to="mobile_base/commands/velocity"/>
  </node>
  -->

  <!-- Relay for image -->                                                           
  <param name="camera/rgb/image_color/compressed/jpeg_quality" value="22"/>
  <node pkg="topic_tools" type="throttle" name="relay_compressed_throttle_image" args="messages camera/rgb/image_raw/compressed 5 /teleop/compressed_image" required="true">
    <param name="lazy" value="false"/>
  </node>


  <!-- relay in topic_tools package does not work with multimaster.. -->
  <node pkg="rocon_python_utils" name="cmd_vel_relay" type="topic_relay" args="/teleop/cmd_vel cmd_vel_mux/input/teleop geometry_msgs/Twist">
  </node>

  <node pkg="rocon_python_utils" name="image_relay" type="topic_relay" args="camera/rgb/image_raw/compressed /teleop/compressed_image sensor_msgs/CompressedImage">
  </node>

</launch>
